table {
  width: 100%;
}
span.pokemon-name {
  letter-spacing: 2px;
  font-family: 'Pokemon Solid', sans-serif;
  color: rgb(187, 159, 0);
}
img.pokeImage {
  min-width: 32%;
}
.paginator {
  display: flex;
  justify-content: right;
}
li {
  margin: 2% 2% 0% 0%;
  list-style-type: none;
}
.pokemonCard:hover {
  border: 1px solid black;
  cursor: pointer;
}
a {
  text-decoration: none;
}
.grass {
  background: rgb(17,73,8);
  background: linear-gradient(0deg, rgba(17,73,8,0.5) 0%, rgba(9,121,11,0.5) 35%, rgba(88,255,91,0.5) 100%);
}

.fire {
  background: rgb(255, 98, 0);
  background: linear-gradient(0deg, rgba(255, 77, 0, 0.5) 0%, rgba(255,244,0,0.5) 35%, rgba(255,203,88,0.5) 100%);
}

.water {
  background: rgb(77,129,255);
  background: linear-gradient(0deg, rgba(77,129,255,0.5) 0%, rgba(36,242,237,0.5) 35%, rgba(205,254,255,0.5) 100%);
}

.bug {
  background: rgb(94,111,0);
  background: linear-gradient(0deg, rgba(94,111,0,1) 0%, rgba(165,190,68,1) 35%, rgba(235,255,125,1) 100%);
}